name: Coq CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        coq_version: [ "8.20.1" ]
        ocaml_version: [ "4.14.2-flambda" ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Coq project (docker-coq-action)
        uses: coq-community/docker-coq-action@v1
        with:
          opam_file: "Excalead/rocq-excalead.opam"

          coq_version: ${{ matrix.coq_version }}
          ocaml_version: ${{ matrix.ocaml_version }}
